h1{
    color:rgb(61, 165, 165);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: rgb(26, 138, 138);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

p{
    color: sandybrown;
}

a{
    color: blue;
}